﻿@{
    Layout = "";
}
<link href="/Content/themes/Intel/css/style.min.css" rel="stylesheet">
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background: #57BEC7;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#sidebar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/Home" style="font-weight: bold; font-family: Arial; color: #0090d9; transition: color .2s linear 0,background-color .2s linear 0 !important;padding-left:50px;padding-top:0px;">
                <img src="~/Images/logo-fibo.png" style="width:163px;height:50px;margin-top:10px;" />
            </a>
        </div>
        <div class="navbar-center" style="font-style:italic;">&nbsp;</div>
        <div class="navbar-collapse collapse">
            <!-- BEGIN TOP NAVIGATION MENU -->
            <ul class="nav navbar-nav pull-right header-menu">
                <!-- BEGIN USER DROPDOWN -->
                @*@Html.Action("ShowLoginInfo", "Account")*@
                <!-- END USER DROPDOWN -->
                <!-- BEGIN CHAT HEADER -->
                <!-- END CHAT HEADER -->
            </ul>
            <!-- END TOP NAVIGATION MENU -->
        </div>
    </div>
</nav>
