﻿@{
    Layout = "";
}
<nav id="sidebar">
    <div id="main-menu">
        <ul class="sidebar-nav" style="padding-top:10px;">
            <li>
                <a href="/Library"><i class="glyphicon glyphicon-briefcase"></i><span class="sidebar-text">Thư viện tin nhắn</span></a>
            </li>
            <li>
                <a href="/SMS"><i class="glyphicon glyphicon-envelope"></i><span class="sidebar-text">Tin nhắn</span></a>
            </li>
            <li>
                <a href="/Patient"><i class="glyphicon glyphicon-user"></i><span class="sidebar-text">Người cai nghiện</span></a>
            </li>
            <li>
                <a href="/SmsCronJob"><i class="glyphicon glyphicon-book"></i><span class="sidebar-text">Xem lịch gửi tin</span></a>
            </li>
            <li>
                <a href="/Patient/ViewReport"><i class="glyph-icon flaticon-charts2"></i><span class="sidebar-text">Thống kê</span></a>
            </li>
            <li>
                <a href="/Survey"><i class="glyphicon glyphicon-comment"></i><span class="sidebar-text">Khảo sát</span></a>
            </li>
            @*<li>
                <a href="/SurveyQuestion"><i class="glyphicon glyphicon-question-sign"></i><span class="sidebar-text">Câu hỏi khảo sát</span></a>
            </li>*@
            <li>
                <a href="/QuestionAnswerLog"><i class="glyphicon glyphicon-exclamation-sign"></i><span class="sidebar-text">Xem trả lời khảo sát</span></a>
            </li>
            <li>
                <a href="/AssortPatient"><i class="glyphicon glyphicon-sort-by-attributes"></i><span class="sidebar-text">Bảng Phân loại</span></a>
            </li>
            <li>
                <a href="/SmsInteract"><i class="glyphicon glyphicon-qrcode"></i><span class="sidebar-text">Từ khóa</span></a>
            </li>
             
            <li>
                <a href="/ReceivedSMS"><i class="glyphicon glyphicon-chevron-down"></i><span class="sidebar-text">Tin nhắn đến</span></a>
            </li>
            <li>
                <a href="/SendSMS"><i class="glyphicon glyphicon-chevron-up"></i><span class="sidebar-text">Tin nhắn đi</span></a>
            </li>
            <li>
                <a href="/ConfigWeb"><i class="glyphicon glyphicon-wrench"></i><span class="sidebar-text">Cấu hình Web</span></a>
            </li>
        </ul>
    </div>
    <div class="footer-widget">
        <img src="/Content/themes/Intel/img/gradient.png" alt="gradient effet" class="sidebar-gradient-img" />
        <div id="sidebar-charts">
            <hr class="divider">
            <div class="sidebar-charts-inner">
                <div class="sidebar-charts-left">
                    <div class="sidebar-chart-title">@*Tổng số SMS : @Html.Action("CountAllSmsSent", "Home") <br />Tổng số bệnh nhân : @Html.Action("CountAllPatient", "Home")*@</div>
                    @*<div class="sidebar-chart-number">@Html.Action("GetTotalSMSReceive","User")</div>*@
                </div>
            </div>
        </div>
    </div>
</nav>
