﻿@using CaiThuocLa.Utility;
@model CaiThuocLa.Code.Paging
@{
    HttpRequestBase request = Html.ViewContext.HttpContext.Request;
    System.Collections.Specialized.NameValueCollection decodeParameters = HttpUtility.ParseQueryString(request.Url.Query); // HttpUtility.ParseQueryString(QueryStringModule.ExtractQuery(decodeUrl));
    if (request.Form.AllKeys.Count() > 0)
    {
        decodeParameters.Add(request.Form);
    }
    
    string decodePath = request.Path;// QueryStringModule.GetVirtualPath(decodeUrl);
}

<style type="text/css">
    .active {
        font-weight: bold;
        text-decoration: underline;
        font-size: 12pt;
    }

    .page-href{
        color:#000000 !important;
        font-size:11pt;
    }
</style>

@if (Model.ListPagers.Count > 5)
{
    <div class="dt_footer">
        <div class="row-fluid ">
            <div class="col-md-4">
                <div class="dataTables_info">Trang @Model.CurrentPage/@(Model.TotalPages)</div>
            </div>
            <div class="col-md-8">
                <div class="dataTables_paginate paging_bootstrap pagination">
                    <ul>
                        @foreach (CaiThuocLa.Code.Pager pager in Model.ListPagers)
                        {
                            var titlePage = new System.Web.HtmlString(pager.Title);
                            decodeParameters.Set("currentpage", pager.PageNum.ToString());
                            string encodeUrl = decodePath + "/?" + decodeParameters.ToString();
                            if (Convert.ToInt32(pager.PageNum) == Model.CurrentPage)
                            {
                                <li class="active"><a href="@encodeUrl">@titlePage</a></li>
                            }
                            else
                            {
                                <li><a class="page-href" href="@encodeUrl">@titlePage</a></li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
}