﻿
body {
    background: #57BEC7;
}
#content {
    /*background: #FD5F5F;*/
}

#header {
    height: 25%;
}

#footer {
    height: 15%;
}

#main-content {
    height: 44%;
}

.main-left {
    width: 60%;
    float: left;
    height: 100%;
}

.main-right {
    width: 40%;
    float: right;
    height: 100%;
}


.action {
    background: #fff;
    margin: 10px 10px;
    height: 94%;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    border-radius: 11px;
}

#dial-action {
    padding: 15px;
}

#list-prize-action {
    padding: 10px;
    text-align:center;
}

label {
    color: #048d6f;
    font-size: 18px;
}

.lucky {
    letter-spacing: 8px;
    font-weight: bold;
    height: 50px;
    font-size: 35px;
}

#header img {
    /*width: 100%;
    height: 100%;*/
    margin-right: 11px;
    margin-top: 9px;
    margin-left: 11px;
}
/*#footer img {
        margin: 4% 6%;
    }*/
#prize tbody {
    height: 238px;
    overflow: scroll;
}

#sub-dial table {
    table-layout: fixed;
}

#exportExcell {
    margin: 1% 25%;
}

#footer table {
    width: 100%;
}

    #footer table tr td {
        padding: 1% 7.4%;
    }
